<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyXSDueeG3WYoC5nhRmjOBbSnunwrK8MM</string>
	<key>GCM_SENDER_ID</key>
	<string>1005119992926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sevy.sevy3dPrinterController.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sevy3dprintercontroller</string>
	<key>STORAGE_BUCKET</key>
	<string>sevy3dprintercontroller.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005119992926:ios:d315fcb5a752570b7970cf</string>
</dict>
</plist>